
.header{
    background-color:rgb(36, 24, 24);
    padding: 20px 0;
}

.flex{
    display: flex;
}
.container{
    margin:0px 8rem;
}
.justify-between{
    justify-content: space-between;
}
.align{
    align-items: center;
}
nav a{
    padding: .6rem .9rem;
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin: .5rem;
    border-radius: .2rem;

}
.active{
    background-color: red;
    
}
nav .nav a:hover{
    background-color: red;
}